<!-- recruite Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
<div id="main">

<h2 class="h2">採用情報</h2>

<table class="table">
<tr>
<th class="tamidashi" colspan="2">新卒採用</th>
</tr>
<tr>
<th>募集職種</th>
<td>プログラマ、システムエンジニア、プロジェクトリーダー、<BR/>プロジェクトマネージャー</td>
</tr>
<tr>
<th>応募資格</th>
<td>
専門卒以上<br/>
*JAVA、C開発などシステム開発の基本知識を有する人<br/>
*向上心があり、真面目で何事も真剣に取り組める人
</td>
</tr>
<tr>
<th>応募書類	</th>
<td>履歴書(写真貼付)、業務経歴書</td>
</tr>
<tr>
<th>選考方法</th>
<td>書類選考後、筆記試験(簡単な適性検査)、面接</td>
</tr>
<tr>
<th>雇用形態</th>
<td>正社員</td>
</tr>

<tr>
<th>給与</th>
<td>年俸300万円から(別途残業代あり)
</td>
</tr>

<tr>
<th>待遇・福利厚生</th>
<td>昇給年1回（4月)賞与年2回（6月・12月）、決算賞与、交通費全額支給、各種社会保険完備</td>
</tr>
<tr>
<th>勤務時間</th>
<td>フレックスタイム制 (標準労働時間8h コアタイム11:00~16:00)<br/>
	労働時間例：10:00~19:00（あくまで目安です）
</td>
</tr>
<tr>
<th>休日・休暇</th>
<td>完全週休2日制（土・日）<BR/>
祝日、年末年始休暇、有給休暇、慶弔休暇</td>
</tr>
<tr>
<th>教育制度</th>
<td>基本的にはOJTで実務知識や技術を身に付けていただきます。社外研修費や必要なソフト・書籍等の購入については会社側が負担します。</td>
</tr>
<tr>
<th>連絡先</th>
<td>03-5628-1761(SI事業部)<br/>
<a href="mailto:info@morisystem.com">info@morisystem.com</a>
</td>
</tr>
</table>
</div>
</div>
</section>
